@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*
 * Droid Arabic Kufi (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/DroidKufi-Regular.eot');
    src: url('../fonts/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DroidKufi-Regular.woff2') format('woff2'),
    url('../fonts/DroidKufi-Regular.woff') format('woff'),
    url('../fonts/DroidKufi-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/DroidKufi-Bold.eot');
    src: url('../fonts/DroidKufi-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DroidKufi-Bold.woff2') format('woff2'),
    url('../fonts/DroidKufi-Bold.woff') format('woff'),
    url('../fonts/DroidKufi-Bold.ttf') format('truetype');
}

body {
    font-family:'Droid Arabic Kufi','Open Sans',sans-serif;
    background-color: #f1f1f1;
}

a {
    color: #4f5467;

}
a:hover,
a:focus{
    color: #000000;
    text-decoration: none;
}

#app .logo {
    padding-right: 100px;
    background: url("../images/logo.png") right no-repeat;
    font-size: 24px;
    font-weight: bold;
}

#app .logo .l1 {
    color:#801211;
}

#app .logo .l2 {
    color:#c71618;
}

.navbar-brand {
    height: 70px;
    line-height: 51px;
}

.navbar-nav>li>a {
    line-height: 40px;
}

.loading {
    display: block;
    margin: auto;
    width: 44px;
    height: 44px;
    background: url('../images/loading.gif') center no-repeat;
}

/******** commun *******/
.page-title {
    position: relative;
    min-height: 100px;
    background-color: #ffffff;
    border: 1px solid #d6dadb;
    margin: 0 0 20px 0;



}
.page-title h3 {
    margin: 0 0 10px 0;
    text-align: right;
    font-weight: 700;
    padding-left: 100px;
    line-height: 34px;
}

.page-title p {
    margin: 0;
    text-align: right;
    font-weight: 400;
    padding-left: 100px;
}

.page-title > div {
    width: 100%;

    padding: 20px;
}

.header_action {
    display: none;
}

#header_loading .loading {
    height: 58px;

}

/****** theme box ******/

.box {
    background-color: #ffffff;
    border: 1px solid #d0d5d6;
}

.box:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(208,213,214,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(208,213,214,1);
    box-shadow: 0px 0px 5px 0px rgba(208,213,214,1);
}

/****** theme card ******/

.container-card,
.container-action{
    margin: 0 0 20px 0;
    float: right;
}

.container-card {
    display: none;
}

.tool_bar_action {
    display: none;
}

.card {
    position: relative;
    min-height: 100px;
    margin: 0;
    padding: 0;
    line-height: 42px;
    font-size: 15px;
}

.add {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.add .fa {
    text-align: center;
    display: block;
    height: 53px;
    line-height: 53px;
    font-size: 41px;
}

.add .text {
    text-align: center;
    display: block;
    padding: 10px 16px;
    font-size: 18px;
}

/******** form *************/

#espace_form {
    display: none;
}

.form-cart {
    display: block;
    float: left;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #d0d5d6;
    padding: 25px;
}

.form-control {
    height: 40px;
}
.form-control:focus {
    border-color: #000000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.6);
}

label {
    font-weight: 400;
}

input.form-control,
textarea.form-control,
select.form-control{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

}

/**** Margins ***/

.m-t-8 {
    margin-top: 8px;
}

/***** tooltip ******/

.tooltip {
    font-family:'Droid Arabic Kufi','Open Sans',sans-serif;
    font-weight: 400;
}


.menu-partiel {
}
.menu-partiel .icon {
    height: 68px;
    margin-bottom: 15px;
}

.menu-partiel  .square {
    padding-right: 0;
}

.menu-partiel .icon a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #d0d5d6;
    outline: none;
}

.menu-partiel .icon a:hover {

    -webkit-box-shadow: 0px 0px 5px 0px rgba(208,213,214,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(208,213,214,1);
    box-shadow: 0px 0px 5px 0px rgba(208,213,214,1);

}

.menu-partiel .icon a i {
    font-size: 40px;
    width: 100%;
    height: 68px;
    line-height: 68px;
    text-align: center;

}

