.box-info {
    min-height: 220px;
    background-color: #fff;
    border: 1px solid #d0d5d6;
    padding: 20px;
    float: right;
    width: 100%;
    margin-bottom: 15px;
}

.box-info:hover {

    -webkit-box-shadow: 0px 0px 5px 0px rgba(208,213,214,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(208,213,214,1);
    box-shadow: 0px 0px 5px 0px rgba(208,213,214,1);

}

.row-rtl > div {
    float: right;
}

/**** for box-number-dossier ****/
.box-number-dossier span.number_dossier,
.box-number-dossier span.icon_big {
    font-size: 60px;
    line-height: 70px;
    height: 70px;
    margin-left: 20px;
}

.box-number-dossier span.number_dossier
{
    font-weight: 700;
    margin-left: 0;

}

.box-number-dossier .fa-lg {
    font-size: 70px;
}

.box-number-dossier h6 {
    padding-right: 64px;
}

.box-number-dossier .profile {
    display: block;
    float: right;
    width: 17%;
}

.box-number-dossier .info {
    display: block;
    float: right;
    width: 83%;
    text-align: right;
    padding-right: 10px;
}

.box-number-dossier .info .name_user {
    font-size: 24px;
    width: 100%;
    display: inline-block;
    font-weight: bold;
}
.box-number-dossier .info .role {
    font-size: 15px;
    width: 100%;
    display: inline-block;
    font-weight: bold;
}

/**** for box-societe-dossier ****/
.box-societe-dossier div.icon_big {
    display: block;
    font-size: 24px;
    line-height: 70px;
    height: 70px;
    width: 20%;
    float: right;
}
.box-societe-dossier .fa-lg {
    font-size: 60px;
}

.box-societe-dossier div.info {
    display: block;
    float: right;
    width: 80%;
}


.box-societe-dossier span.nom_marque  {
    display: block;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
}

.box-societe-dossier span.nom_societe  {
    display: block;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.box-societe-dossier span.nom_secteur_delegation  {
    display: block;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
}

.box-societe-dossier span.nom_secteur_delegation strong {
    font-weight: 700;
    color: #c71618;
}
.box-societe-dossier .societe_local,
.box-societe-dossier .recap_societe {
    display: block;
    float: right;
    width: 100%;
}
.box-societe-dossier .societe_local {
    margin-bottom: 10px;
}

.box-societe-dossier .recap_societe > div {
    text-align: center;
}

.box-societe-dossier .recap_societe > div a {
    font-size: 46px;
    outline: none;
}



/**** for box-observateurs-dossier ****/

.box-observateurs-dossier .icon_big {
    display: block;
    float: right;
    width: 100px;
    height: 70px;

    text-align: center;
}

.box-observateurs-dossier .icon_big .fa-lg {
    font-size: 60px;
    line-height: 70px;
}

.box-observateurs-dossier .titlr_box {
    display: block;
    float: right;
    width: 215px;
}

.box-observateurs-dossier h2 {
    display: block;
    font-size: 24px;
    line-height:32px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.list-user-concernees {
    display: block;
    float: left;
    border-top: 1px solid #d0d5d6;
    padding-top: 20px;
    margin-top: 10px;
}

.box-observateurs-dossier ul {
    display: block;
    float: left;
    margin: 0;
    padding:0;
}
.box-observateurs-dossier li {
    display: block;
    float: left;
    width: 100%;

    border-bottom: 1px solid #d0d5d6;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.box-observateurs-dossier li > span {
    display: block;
    float: right;
}

.box-observateurs-dossier li .profile {
    width: 20%;
}

.box-observateurs-dossier li .profile img {
}

.box-observateurs-dossier li .info {
    width: 79%;
}

.box-observateurs-dossier li .info .name_user {
    font-size: 18px;
    width: 100%;
    display: inline-block;
    font-weight: bold;
    padding-right: 10px;
}
.box-observateurs-dossier li .info .role {
    font-size: 14px;
    width: 100%;
    display: inline-block;
    font-weight: bold;
    padding-right: 10px;
}


/**** box-liste-abus ****/
.box-liste-abus {
    min-height: inherit;
}
.box-liste-abus .icon_big {
    display: block;
    float: right;
    width: 100px;
    height: 70px;

    text-align: center;
}

.box-liste-abus  .icon_big .fa-lg {
    font-size: 60px;
    line-height: 70px;
}

.box-liste-abus  .titlr_box {
    display: block;
    float: right;
}

.box-liste-abus  h2 {
    display: block;
    font-size: 24px;
    line-height:32px;
    font-weight: 700;
    margin: 0;
    padding: 19px 0;
}


.box-liste-abus  p {
    display: block;
    font-size: 15px;
}
.box-liste-abus  p.alert {
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 0;

}

.box-liste-abus  p.alert strong {
    font-weight: 700;
    color: #c71618;
}


/***** box-resumer-dossier *****/


.box-resumer-dossier .icon_big {
    display: block;
    float: right;
    height: 70px;

    text-align: center;
}

.box-resumer-dossier .icon_big .fa-lg {
    font-size: 60px;
    line-height: 70px;
}

.box-resumer-dossier .titlr_box {
    display: block;
    float: right;
    width: 215px;
    height: 70px;
    margin-right: 20px;
}

.box-resumer-dossier h2 {
    display: block;
    font-size: 28px;
    line-height:70px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.box-resumer-dossier .recap_dossier {
    margin-top: 20px;
    display: block;
    float: left;
    width: 100%;
}

.box-resumer-dossier .recap_dossier > div {
    text-align: center;
}

.box-resumer-dossier .recap_dossier > div a,
.box-resumer-dossier .recap_dossier > div i{
    font-size: 32px;
}

.box-resumer-dossier .recap_dossier > div.gravite-danger .fa {
    color: red;
}
.box-resumer-dossier .recap_dossier > div.gravite-warning .fa {
    color: darkorange;
}

.box-resumer-dossier .recap_dossier .chiffre {
    font-size: 24px;
    line-height: 32px;
}

.modal-body strong {
    font-weight: 700;
}


.icon_observateur {
    float: right;
    font-size: 22px;
    margin-left: 10px;
}

a.icon_observateur {
    outline: none;
    margin-top: 4px;
}

a.icon_info_contact {
    color: #204bff;

}

a.icon_info_send {
    float: left;
color: orange;
}

.img-user-profile {
    width: 200px;
}

.message_succes_send {
    display: none;
padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.detail_abus i {
    font-size: 42px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    float: left;

    color: #000;
    text-align: center;
}

.detail_abus .fa-gravite-warning {
    color: #ff9600;
}
.detail_abus .fa-gravite-warning:before {
    content: "\f2c9";

}

.detail_abus .fa-gravite-danger {
    color: #ff0000;
}
.detail_abus .fa-gravite-danger:before {
    content: "\f2c7";
}

.detail_abus .fa-violation-collectif {
    color: #00a0ff;
}
.detail_abus .fa-violation-collectif:before {
    content: "\f0c0";
}

.detail_abus .fa-violation-individuel {
    color: #00c91c;
}

.detail_abus .fa-violation-individuel:before {
    content: "\f007";
}

.detail_abus .statut_reglement_1 {
    color: #00c91c;
}
.detail_abus .statut_reglement_1::before {
    content: "\f164";
}

.detail_abus .statut_reglement_0 {
    color: #ff0000;
}
.detail_abus .statut_reglement_0::before {
    content: "\f165";
}

.detail_abus .status_abus {
    line-height: 40px;
}

.info_p_box p, .info_p_box h4 {
    padding-right: 20px;
    padding-left: 20px;
}
h4 .date_accrochage {
    color: #00a0ff;
}

h2 a {
    color: #c71618;
}


.info_p_box .notice {
    color: #c71618;
}

